body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background: #1f2937;
    color: white;
    padding: 15px 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar a {
    color: #d1d5db;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

/* MAIN */
.container {
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.ai-card {
    background: #eef2ff;
}

/* FORM */
.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTONS */
button {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: #2563eb;
    color: white;
}

.btn-secondary {
    background: #6b7280;
    color: white;
}

.btn-danger {
    background: #dc2626;
    color: white;
}

button:hover {
    opacity: 0.9;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #111827;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.actions {
    display: flex;
    gap: 8px;
}

pre {
    background: black;
    color: #00ff9c;
    padding: 15px;
    border-radius: 6px;
    overflow-x: auto;
}

.page-title {
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 30px;
}

/* DASHBOARD GRID */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

/* CARD */
.dash-card {
    background: linear-gradient(135deg, #ffffff, #f3f4f6);
    padding: 25px;
    border-radius: 14px;
    text-decoration: none;
    color: #111827;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: all 0.25s ease;
}

.dash-card h3 {
    margin-bottom: 10px;
}

.dash-card p {
    color: #4b5563;
}

/* HOVER EFFECT */
.dash-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* EMERGENCY CARD */
.dash-card.emergency {
    background: linear-gradient(135deg, #fee2e2, #fecaca);
    color: #7f1d1d;
}
